In [57]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# PHASE 1 
<p> I'm using the requests API because I love it. So simple.
<p> Basically, I'm getting the raw page and applying a scraping with BS from the text of it.
<p> I'm creating the table from the table element found, and getting the first position of the tuple which has the raw text table
<p> PANDAS IS AMAZING! It has a method called read_html which loads my table from HTML. But I needed to convert the BS4 object to a STR.
    Learndt from here: <a href>https://beenje.github.io/blog/posts/parsing-html-tables-in-python-with-pandas/</a>
<p> PANDAS then creates the Dataframe. Note that I had to get the first dimension of the frame [0] in order to pandas understand its layout.

In [58]:
r = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
page = BeautifulSoup(r.text)
table = page.select('table')[0]
#PANDAS HAS READ HTML METHOD, SO I GET THE FIRST OBJECTS CAUSE ITS THE FRAME
df = pd.read_html(str(table))[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

# PHASE 2
<p> Here I clean my dataset, recreating the new without Nan values. 
    from here <a href>https://chrisalbon.com/python/data_wrangling/pandas_dropping_column_and_rows/</a>

In [59]:
#RECREATES THE DF AVOIDING NOT ASSIGNED ROWS
df = df[df.Borough != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

# PHASE 3
<p> Now I'm grouping Postcode and Borough ans primary columns and joining neighbourhoods. This is a cool solution I found here:
    <a href> https://stackoverflow.com/questions/36271413/pandas-merge-nearly-duplicate-rows-based-on-column-value </a>
<p> We need to reset the indexes to organize our Dataset

In [60]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [61]:
df.shape

(103, 3)